.table1{
margin-top:20px;
width : 900px;
margin-left: 300px;
}
#imagee{
   margin-left: 450px;
}
#image{
   width: 100px;
   height: 30px;
   text-align: center;
   border: 2px solid #1c2b36;
}
.form-control{
   width: 100px;
   height: 40px;
   padding: 12px 20px;
   border: 2px solid #1c2b36;
   text-align: center;
  
}

thead{
   background-color: #e0e0e0 ;
   height: 50px;

}
.tr2{
   text-align: center;
}
.tr1{
   font-family: Arial;
   font-style: normal;
   font-weight: bold;
   font-size: 13px;
   color: #fff;
}
.tr1{
   //background-color: #1c2a48;
   background-color: teal;
  
}