<div class="auth-wrapper">
  <div class="blur-bg-images">
  <!-- [ change-password ] start -->
  <div class="auth-content">
    <div class="card">
      <form class="container" [formGroup]="pwChangeForm" (ngSubmit)="onSubmit()">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body">
            <!-- <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4"> -->
            <h4 class="mb-4 f-w-400" Style="Color:teal">Changer votre mot de passe </h4>
            
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" formControlName="current" class="form-control" placeholder="mot de passe actuel">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Mot de passe requis</div>
            </div>
            
            </div>


            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" formControlName="newPW" placeholder="nouveau mot de passe">
              <div *ngIf="submitted && f.newPW.errors" class="invalid-feedback">
                <div *ngIf="f.newPW.errors.required">Mot de passe requis</div>
            </div>
              <div *ngIf="newPW.touched && newPW.newIsNotOld">
                New password can't be the same as current password.
              </div>
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" formControlName="confirm" placeholder="Saisir à nouveau ">
              <div *ngIf="submitted && confirm.errors" class="invalid-feedback">
                <div *ngIf="f.confirm.errors.required">Mot de passe requis</div>
            </div>
              <div *ngIf="confirm.touched && confirm.errors.newMatchesConfirm">
                The confirmation does not match.
              </div>
            </div>

            <button class="btn btn-block mb-4" style="background-color:teal;color: white;" > changer</button>
          </div>
        </div>
      </div>
      </form>
      </div>
    </div>
  </div>
  <!-- [ change-password ] end -->
</div>
