<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
           <!-- <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4"> -->
            <h4 class="mb-3 f-w-400" Style="Color:teal" >Réinitialiser le mot de passe</h4>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="adresse e-mail">
            </div>
            <button class="btn btn-block mb-4" style="background-color:teal;color: white ">Réinitialiser</button>
            <p class="mb-0 text-muted">Vous n'avez pas de compte? <a [routerLink]="['/auth/signup']" class="f-w-400">S'inscrire</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
